### 1.What is the output of the following code?nums =set([1,1,2,3,3,3,4,4])print(len(nums))Hint:Set consists of aunique element.

In [1]:
nums=set([1,1,2,3,3,3,4,4])
print(len(nums))

4

Answer-> as set includes only unique element so here nums=1,2,3,4 uniquely present ans length of this nums will become 4

#### 2.What will be the output?d ={"john":40, "peter":45}
#### print(list(d.keys()))
Hint:d.keys()isthefunctionthatwillshowkeys.

In [2]:
d={'john':40,'Peter':45}
print(list(d.keys()))

['john', 'Peter']

d.keys() will print all the keys in the dict and d.values() will print all the values in the dict

 3.A website requires a user to input a username and password to register. 
Write a program to check the validity of the password given by the user. 
Following are the criteria for checking password:

1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
3. At least 1 letter between [A-Z]

4. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Hint: In the case of input data being supplied to the question, it should be assumed to be a console input.

In [33]:
import re
def pass_validation(s):
    if 6<=len(s)<=12 and re.search(r'[a-z]',s) and re.search(r'[A-Z]',s) and re.search(r'[0-9]',s) and re.search(r'[$#@]',s):
            return "password validated"
    else:
        return "Password not valid"

In [34]:
pass_validation('kOmal@123')

'password validated'

#### 4.Write a for loop that prints all elements of a list and their position in the list.a = [4,7,3,2,5,9] Hint: Use Loop to iterate through list elements.

In [41]:
a = [4, 7, 3, 2, 5, 9]

for index, element in enumerate(a):
    print(f"Element at position {index}: {element}")

Element at position 0: 4
Element at position 1: 7
Element at position 2: 3
Element at position 3: 2
Element at position 4: 5
Element at position 5: 9

#### 5.Please  write  a  program thataccepts  a  string  from the console  and  
#### print  the characters that have even indexes.
#### Example: If the following string is given as input to the program:H1e2l3l4o5w6o7r8l9dThen, the output of the program should be:Helloworld

In [44]:
def string_ateven(s):
    l=[]
    for i in range(len(s)):
        
        if i%2==0:
            l.append(s[i])
    return "".join(l)

In [45]:
string_ateven("H1e2l3l4o5w6o7r8l9d")

'Helloworld'

In [46]:
#or
def string_atevn(s1):
    result=s1[::2]
    return result

In [47]:
string_atevn("H1e2l3l4o5w6o7r8l9d")

'Helloworld'

### 6.Please write a program thataccepts a string from the console and print it in reverse order.Example: If the following string is given as input to the program: rise to vote sirThen, the output of the program should be:ris etov ot esir

In [60]:
def reverse_st(s):
    return s[::-1]

In [62]:
reverse_st('rise to vote sir')

'ris etov ot esir'

### Please write a program thatcountsand printsthe numbers of each character in a string input by the console.Example: If the following string is given as input to the program:abcdefgabcThen, the output of the program should be:a,2c,2b,2e,1d,1g,1f,18

In [64]:
def str_count(s):
    count={}
    for i in s:
        if i in count:
            count[i]+=1
        else:
            
            count[i]=1
    return count

In [65]:
str_count("abcdefgabc")

{'a': 2, 'b': 2, 'c': 2, 'd': 1, 'e': 1, 'f': 1, 'g': 1}

### 8.With   two   given   lists   [1,3,6,78,35,55]   and   [12,24,35,24,88,120,155],   write   a program to make a list whose elements are intersection of the above given lists.

In [68]:
def intersect(l1,l2):
    s1=set(l1)
    s2=set(l2)
    print(list(s1.intersection(s2)))

In [69]:
intersect([1,3,6,78,35,55],[12,24,35,24,88,120,155])

[35]

### 9.By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155]

In [71]:
l=[x for x in [12,24,35,24,88,120,155] if x!=24]
print(l)

[12, 35, 88, 120, 155]

### By using list comprehension, please write a program to print the list after removing the 0th,4th,and 5th numbers in [12,24,35,70,88,120,155

In [73]:
li=[12,24,35,70,88,120,155]
index_to_remove=[0,4,5]
li_new=[x for i,x in enumerate(li) if i not in index_to_remove]
li_new

[24, 35, 70, 155]

### By using list comprehension, please write a program to print the list after removing deletednumbers thatare divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [77]:
li=[12,24,35,70,88,120,155]
li_new=[x for x in li if x%5!=0 or x%7!=0]
li_new

[12, 24, 88, 120, 155]

### 12.Write  a  program  to  compute  1/2+2/3+3/4+...+n/n+1  with  a  given  n  input  by console (n>0).Example:If the following n is given as input to the program:5Then, the output of the program should be:3.55

In [84]:
def sum_fraction(n):
    count=0
    for i in range(1,n+1):
        count+=i/(i+1)
    return round(count, 2)

In [85]:
sum_fraction(5)

3.55