Domain –Banking Marketing

focus –Optimization

Business challenge/requirement   Bank of Portugal runs a marketing campaign to offer loans to clients.  The loanis offered to only clients withparticular professions. A listof successful campaigns(withclientdata) is given in the attached dataset. You have to come up with a program thatreads the file and builds a set of unique profession listsand givesinput profession of the client –the system tells whether the client iseligible to be approached for a marketing campaign.

Key issues  Tele Caller can only make x number of cold calls in a day. Hence to increase her effectiveness only eligible customers should be 

called Considerations The current system does not differentiate clients based on age and profession

Data volume 447 

records in bank-data.csv

Additional information-NA

Business benefits

The company can achieve between 15% to 20% higher conversion by targeting the right clients

Approach to Solve

You have to use the fundamentals of Python taught in module2

1.Read file bank-data.csv

2.Build a set of unique jobs

3.Read the input from the command line –profession

4.Check if the professionis onthe list

5.Print whetherthe client is eligible

Enhancements for code: 

You can try these enhancements in code

1.Compute max and min age for loan eligibility based on data in CSVfile

2.Store max and min age in the dictionary

3.Make the professionalcheck case insensitive 

4.Currently program ends after the check. Take the input in the whileloop and end only if the user types "END" for the profession

In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('bank-data.csv')

In [5]:
data.head()

   age          job  marital    y
0   20      student   single  yes
1   32   management   single  yes
2   49   technician  married  yes
3   32  blue-collar  married  yes
4   33   management  married  yes

In [6]:
data.shape

(447, 4)

In [7]:
jobs=data['job'].unique()

In [8]:
jobs

array(['student', 'management', 'technician', 'blue-collar', 'admin.',
       'services', 'self-employed', 'entrepreneur', 'housemaid'],
      dtype=object)

In [9]:
x=input('Enter the profession of a client')
if x in jobs:
    print("that client is eligible")
else:
    print("that client is not eligible")

Enter the profession of a clientstudent
that client is eligible

In [10]:
min_age=min(data['age'])
max_age=max(data['age'])
input_age=int(input("enter age: "))
if min_age<=input_age<=max_age:
    print("eligible cadidate")
else:
    print("Not eligible")

enter age: 34
eligible cadidate

In [15]:
dic_age={'min_age':min(data['age']),'max_age':max(data['age'])}
dic_age

{'min_age': 19, 'max_age': 80}

In [11]:
x=input('Enter the profession of a client')
if x.lower() in jobs:# all the x should be in lower and the job list is already in lower
    print("that client is eligible")
else:
    print("that client is not eligible")

Enter the profession of a clientstudent
that client is eligible

In [14]:

while True:
    y=input().lower()
    if y=='end': 
        break
    elif y in jobs:# all the x should be in lower and the job list is already in lower
        print("that client is eligible")
    else:
        print("that client is not eligible")

student
that client is eligible
doctor
that client is not eligible
teach
that client is not eligible
end